<%= stylesheet_link_tag 'form' %>
</br>
<div id="form" class="jumbotron">
  <p id="heading"> Change Password</p>

  <% form_tag({:action => "change_password", :controller => "sessions"}, :class => "form" )  do  -%>

    <div class="form-group">
      <%= label_tag( :password,"Password") %><br />
      <%= password_field_tag(:password ,params[:confirm_password], :class => 'form-control') %>
    </div>
      <%= submit_tag "Sign In", :class => 'btn btn-large btn-primary' %>
  <% end %>

  <div class="footer">
    <%= link_to 'Back', :controller => "home", :action => "index" %>
  </div>
</div>
