<%= stylesheet_link_tag 'form' %>
</br>
<div id="form" class="jumbotron">
  <p id="heading"> Login Here</p>
  </br>
  <% form_tag({:action => "create"}, :class => "form" )  do  %>

    <div class="form-group">
      <%= label_tag(:username, "Username") %>
      <%= text_field_tag(:username, params[:username], :class => 'form-control') %>
    </div>
    <div class="form-group">
      <%= label_tag(:password, "Password") %>
      <%= password_field_tag(:password, params[:password], :class => 'form-control') %>
    </div>
      <%= submit_tag "Sign In", :class => 'btn btn-large btn-primary' %>

  <% end %>
  </br></br>

  <%= link_to 'Forgot Password', {:controller => "sessions", :action => "forgot_password_form"} %></br></br>
  <%= link_to 'Register here', {:controller => "users", :action => "new", :is_doctor => 0},  { :class => "link" } %>
</div>
