<%= stylesheet_link_tag 'patient' %>
</br>
<div id="profile" class="jumbotron">
<%= link_to "Update profile", edit_patient_path(@patient) %>
</br></br>
<%= image_tag @patient.user.avatar.url(:thumb), :class => "profile_image" %></br>
<p class="text"><%= link_to "Change image", edit_user_path(@patient.user) %></p></br>
<span class="label">Name</span>
<span class="value">
  <%= @patient.first_name %>
  <%= @patient.middle_name%>
  <%= @patient.last_name%>
</span></br>
<span class="label">Date of Birth</span>
<span class="value"><%= @patient.date_of_birth%></span></br>
<span class="label">Address</span>
<span class="value"><%= @patient.address%></span></br>
<span class="label">Gender</span>
<span class="value"><%= @patient.gender%></span></br>
<span class="label">Blood Group</span>
<span class="value"><%=@patient.blood_group.name%></span></br>
</br></br></br>
  <div class="footer">
    <%= link_to "Go back", patients_path %>|<%= link_to "Go-to Home", patients_path %>
  </div>
</div>
