<%= stylesheet_link_tag 'doctor' %>
</br>
<div id="profile" class="jumbotron">
  <%= link_to "Update profile", edit_doctor_path(@doctor) %>
</br></br>
  <%= image_tag @doctor.user.avatar.url(:thumb), :class => "profile_image" %></br>
  <p class="text"><%= link_to "Change image", edit_user_path(@user) %></p></br>
  <span class="label">Name</span>
  <span class="value">
  <%= h @doctor.first_name %>
  <%= h @doctor.middle_name%>
  <%= h @doctor.last_name%>
  </span></br>
  <span class="label">Date of Birth</span>
  <span class="value"><%= h @doctor.date_of_birth%></span></br>
  <span class="label">Address</span>
  <span class="value"><%= h @doctor.address%></span></br>
  <span class="label">Nationality</span>
  <span class="value"><%= h Country.find(@doctor.nationality_id).name%></span></br>
  <span class="label">Gender</span>
  <span class="value"><%= h @doctor.gender%></span></br>
  <span class="label">Qualification</span>
  <span class="value"><%= h @doctor.qualification%></span></br>
  <span class="label">Experience</span>
  <span class="value"><%= h @doctor.experience%></span>

  </br></br></br>
  <div class="footer">
    <%= link_to "Go back", doctors_path %>|<%= link_to "Go-to Home", doctors_path %>
  </div>
</div>
