<%= stylesheet_link_tag 'doctor' %>
<div id="container" class="jumbotron">

<table id="table" class="table table-striped">
<thead>
  <tr>

  <th> Number </th>
  <th> Date </th>
  <th> Time </th>
  <th> Allocation status </th>



</tr>
</thead>
<tbody>
<% @slots.each do |slot| %>

    <tr>
      <td><%= h slot.number %></td>
      <td><%= h slot.time.to_date %></td>
      <td><%= h slot.time.strftime("%H:%M") %></td>
      <% if slot.is_allocated==1  %>
        <td>Allocated</td>
      <% else %>
        <td>Free</td>
      <% end %>
    </tr>

<% end %>

</tbody>
</table>

</br></br></br>
<div class="footer">
<%= link_to "Go back", show_timeslots_doctors_path %>|<%= link_to "Go-to Home", doctors_path %>
</div>
</div>
